.if-step {
  background: #444;
  color: white;
  height: 125px;
  width: 250px;
  border-radius: 4px;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  background: #6c5ce7;
  padding: 0.4em;
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
}
