/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Poppins", sans-serif;
}

.ngflowchart-step-wrapper[ngflowchart-drop-hover]::after {
  background: #a3e798 !important;
}

.ngflowchart-step-wrapper[ngflowchart-drop-hover]::before {
  background: #4cd137 !important;
}

.ngflowchart-arrow {
  & #arrowhead {
    fill: darkgrey;
  }

  & #arrowpath {
    stroke: darkgrey;
  }
}

.step {
  background: #fbfbfb;
  color: #444;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 1em;
  min-width: 200px;
  min-height: 100px;
}

// TODO move this to the library
.ngflowchart-canvas-content.scaling .ngflowchart-step-wrapper,
.ngflowchart-canvas-content.scaling svg {
  transition: none !important;
}