/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Poppins", sans-serif;
}

.ngflowchart-step-wrapper[ngflowchart-drop-hover]::after {
  background: #a29bfe !important;
}

.ngflowchart-step-wrapper[ngflowchart-drop-hover]::before {
  background: #6c5ce7 !important;
}

.ngflowchart-arrow {
  & #arrowhead {
    fill: darkgrey;
  }

  & #arrowpath {
    stroke: darkgrey;
  }
}
