.ngflowchart-canvas {
  overflow: auto;
}

.ngflowchart-canvas-content {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}



.ngflowchart-canvas-step.placed {
  transition: all 0.2s;
}

.arrow-section {
  border-color: #b4b4b4;
}


