<main>
  <div
    id="canvas"
    ngFlowchartCanvas
    [ngFlowchartOptions]="{
      stepGap: 40
    }"
    [ngFlowchartCallbacks]="callbacks"
  ></div>
  <div id="palette">
    <div
      class="plugin-op"
      *ngFor="let op of pluginOps"
      [ngFlowchartStep]="canvasContent"
      [ngFlowchartStepData]="op"
    >
      <span>{{ op.name }}</span>
    </div>
    <button (click)="printFlowData()">Get Flow Data</button>
    <ng-template #canvasContent let-data="data">
      <div class="card" [attr.name]="data.name" #card>
        <span>{{ data.name }}</span>
        <button (click)="onClick(card.id)"></button>
      </div>
    </ng-template>
  </div>
</main>
